# Dependencies
node_modules/
.venv/
venv/
env/

# Build artifacts
dist/
build/
*.egg-info/

# Python cache & temp
__pycache__/
*.py[cod]
*.class
.pytest_cache/

# Uploads & temporary runtime files
backend/uploads/*
!backend/uploads/.gitkeep
backend/ocr_uploads/*
!backend/ocr_uploads/.gitkeep

# Metadata & Logs
*.metadata.json
*.log

# System & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
